body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff;
  color: #333;
}
h2 {
  font-weight: 600;
  margin-bottom: 30px;
}

img {
  max-height: auto;
  object-fit: cover;
}

footer {
  font-size: 0.9rem;
}